@charset "utf-8";

/* Contents Import */
#left_contents{ height: 660px;}	
::-webkit-scrollbar{width: 15px!important;}
::-webkit-scrollbar-track {background-color:#f1f1f1!important;}
::-webkit-scrollbar-thumb {background-color:#e0e0e0;border-radius: 10px!important;}