@charset "EUC-KR";

/* body */
/* body{ font-family: "Amazon Ember",Arial,sans-serif!important; letter-spacing: -0.5px; word-spacing: -0.5px; } letter-spacing: -0.5px; word-spacing: -0.5px;
.btn{ font-family: "Amazon Ember",Arial,sans-serif!important; } */
body{ font-family: "Pretendard"! important; letter-spacing: -0.5px; word-spacing: -0.5px; } /*letter-spacing: -0.5px; word-spacing: -0.5px;*/
.btn{ font-family: "Pretendard" !important; }

/* Main contents block */
.MainConA{
	width: 100%;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	height: 300px;
	background: #ffffff; 
}
.MainConB{
	width: 100%;
	padding: 20px;
	height: 300px;
	background: #ffffff; 
}


/* Main contents in Div */
.MainConD{
	height: 200px;
}

/* Div In Img */
.FullImg{
	max-width: 100%; 
	/* height: auto;  */
	height: 240px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	position: absolute; clip: rect(0 270px 266px 0px);
	padding-left: 0;
}
.FullImg img{
	max-width: 100%;
    height: auto;
    width: auto;
    max-height: 240px;
}

/* DashBoard Table */
.DashBoardT{
	width: 100%;	
}

.DashBoardT tr th{
	width: 70%;
	padding: 5px;
}

.DashBoardT tr td{
	width: 30%;
	padding: 5px;
}

/* Magin,Padding collection */
.g-pa-0{
	padding: 0px;
}
.g-pa-2{
	padding: 2px;
}
.g-pa-15{
	padding:15px;
}
.g-pa-20{
	padding:20px;
}
.g-mr-5{
	margin-right: 5px;
}
.g-mr-10{
	margin-right: 10px;
}
.g-ml-5{
	margin-left: 5px;
}
.g-ml-10{
	margin-left: 10px;
}


.g-ma-0{   
	margin: 0px;
}
.g-ma-10{   
	margin: 10px;
}
.g-mb-5{
	margin-bottom: 5px;
}
.g-mb-10{
	margin-bottom: 10px;
}
.g-mr-5{
	margin-right: 5px;
}
.g-mr-10{
	margin-right: 10px;
}
.g-mt-10{
	margin-top: 10px;
}
.g-mt-20{
	margin-top: 20px;
}

/* textCenter */
.textCenter{
	text-align: center;
}

/* DashBoard Contents border */
.DashBoder{
	border: 1px solid #d9d9d9;
	width: 100%;
}
.DashBoder2{
	text-align: left;
	line-height: 35px;
}

/* Inline Block */
.inBlock{
	display: inline-block;
	padding: 0px;
}

/*tabLine*/
.tabLine{
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 15px;
}

/* tabContents */
.tabC{
	width: 220px;
	height: 40px;
	border-right: 40px solid #ffffff; 
	border-bottom: 40px solid #c6d9f1;
	line-height: 40px;
	cursor: pointer;
}


/* tabBorderColor */
.tabAddC{
	border-bottom: 40px solid #376092;
}

/* orderTractor */
.orderTabs{
	padding: 15px;
	/* border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9; */
}

.overY{
	overflow-y: scroll;
}

/* Width 모음 */
.w-400{	width: 400px;}
.w-380{	width: 380px;}
.w-300{	width: 300px;}
.w-250{	width: 250px;}
.w-240{	width: 240px;}
.w-230{	width: 230px;}
.w-220{	width: 220px;}
.w-210{	width: 210px;}
.w-200{	width: 200px;}
.w-180{	width: 180px;}
.w-160{	width: 160px;}
.w-150{	width: 150px;}
.w-140{	width: 140px;}
.w-120{	width: 120px;}
.w-100{	width: 100px;}
.w-90{	width: 90px;}
.w-80{	width: 80px;}
.w-70{	width: 70px;}
.w-60{	width: 60px;}
.w-50{	width: 50px;}
.w-40{	width: 40px;}
.w-30{	width: 30px;}
.w-20{	width: 20px;}
.w-10{	width: 10px;}
.w-a{	width: auto;}
.wp-10{ width: 10%;}
.wp-15{ width: 15%;}
.wp-20{ width: 20%;}
.wp-30{ width: 30%;}
.wp-40{ width: 40%;}
.wp-50{ width: 50%;}
.wp-60{ width: 60%;}
.wp-70{ width: 70%;}
.wp-80{ width: 80%;}
.wp-90{ width: 90%;}
.wp-100{ width: 100%!important;}

/* Ttable */
.Ttable{
	width: 100%;
	font-size: 15px;
	font-weight: 700;
}

.Ttable tr th{
	width: 25%;
	padding: 5px;
	text-align: left;
}

.Ttable tr td{
	width: auto;
	padding: 0px!important;
}

.Ttable_tr_height{
	height: 30px;
}
.Ttable_tr_height2{
	height: 70px;
}

/* Ttable2 Contents*/
.Ttable2{
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	border: none;
}

.Ttable2 tr th{
	width: 10%;
	text-align: right;
	padding: 5px!important;
}

.Ttable2 tr td{
	width: 30%;
	text-align: left;
	padding: 5px!important;
	border: none !important;
}

.Ttable2_radio_margin{
	margin: 0px;
}

/* Ttable3 */
.Ttable3{
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	margin: 10px;
	margin-top: 0px;
}

.Ttable3 tr th{
	width: 55%;
	min-width: 100px;
	text-align: left;
	padding-top: 8px!important;
	color: #002658;
}

.Ttable3 tr td{
	width: auto;
	min-width: 121px;
	padding-top: 8px!important;
}

/* Ttable4 */
.Ttable4{
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	border-width: 0 0 1px 0 !important;
}

.Ttable4 tr th{
	width: 25%;
	text-align: center;
	padding: 5px!important;
	border-width: 0 0 1px 0 !important;
}

.Ttable4 tr td{
	width: 25%;
	text-align: left;
	padding: 5px!important;
	border-width: 0 0 1px 0 !important;
	border-style: dotted !important;
}

/* Ttable5 */
.Ttable5{
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	border-width: 0 0 1px 0 !important;
}

.Ttable5 tr th{
	width: 13%;
	text-align: center;
	padding: 5px!important;
	border-width: 0 0 1px 0 !important;
}

.Ttable5 tr td{
	width: 13%;
	text-align: center;
	border-width: 0 0 1px 0 !important;
	border-style: dotted !important;
}

/* Ttable_remake */
.TtableRe{
	width: 100%;
	margin-top: 10px;
}

.TtableRe tr th{
	font-size: 15px;
	font-weight: 700;
	width: 25%;
	padding: 5px;
	padding-right: 20px;
	text-align: left;
}

.TtableRe tr td{
	font-size: 11px;
	font-weight: 700;
	width: 21%;
}

/* Ttable_remake */
.TtableAddi{
	margin-top: 10px;
}

.TtableAddi tr th{
	font-size: 15px;
	font-weight: 700;
	width: 15%;
	padding: 5px;
	padding-right: 20px;
	text-align: left;
}

.TtableAddi tr td{
	font-size: 11px;
	font-weight: 700;
	width: 25%;
}

.TtableAddiList{
	width:100%;
}

.TtableAddiList tr th{
	font-size: 15px;
	font-weight: 700;
	padding: 3px;
	text-align: center;
}

.TtableAddiList tr td{
	font-size: 15px;
	font-weight: 700;
	padding: 3px;
}

.total::placeholder{
	color: #ffffff;
}

.displayN{
	display: none;
}
.inputC{
	text-align: center!important;
}

.inputR{
	text-align: right!important;
}
.inputL{
	text-align: left!important;
}

.Dtable{
	width: 70%;
}


input[type="text"]:read-only { background-color: #f3f3f3; }
textarea.textbox-text:read-only { background-color: #f3f3f3; }

.cw + span.textbox > input.textbox-text{background-color: #ffffff!important;}
.cw + span.textbox > input.yellow{background-color: yellow!important;}

/* 제품 정보 담는 테이블 */
.detailTable{
	width: 50%;
	font-size: 13px;
	font-weight: 400;
	border: 0px;
}

.detailTable tr td{
	padding: 10px;
	}
	
.detailTable tr td:last-child{
	padding: 10px;
	color: #0070C0;
	text-align: right;
	}

/* 결과값 계산 테이블 */
.detailTableR{
	width: 50%;
	font-size: 16px;
	font-weight: 600;
	border-top: 1px dashed #1F497D;
}
.detailTableR tr th{
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #0070C0;
}

.order-detail-table{
	width:100%;
}

.order-detail-table tr th:first-child{
	font-size:15px;
	font-weight: bold;	
}


.order-detail-table tr td:nth-child(1){
	width:30%;
	min-width: 185px;
	text-align:left;
}
.order-detail-table tr td:nth-child(2){
	min-width: 100px;
	width:15%;
	text-align:left;
}
.order-detail-table tr td:nth-child(3){
	width:15%;
	text-align:right;
}
.order-detail-table tr td:nth-child(4){
	width:5%;
	max-width: 50px;
	text-align:center;
}
.order-detail-table tr td:nth-child(5){
	width:15%;
	color:#0070C0;
	text-align:right;
}
/* .order-detail-table tr td:nth-child(6){
	text-align:center;
} */


/* 상세페이지 Basic Info 부분  테이블*/
.order-detail-table2{
	width: 100%;
}

.order-detail-table2 tr th{
	width: 20%;
}
	
.order-detail-table2 tr td{
	width: 40%;
}


.order-detail-table-price{
	text-align:right;
	border-top:1px dashed #1F497D;
	padding-top:3px;
}


.order-detail-table-price span,
.order-detail-table-price input{
	font-size: 16px;
	font-weight: 600;
	margin-right:5px;
	margin-left:5px;
}

.order-detail-table-price span{
	padding: 10px;
	color: #0070C0;
}
.order-detail-table input{
	font-size: 16px;
	font-weight: 600;
	text-align:right;
}
.order-detail-table-price input{
	border-color:#31859C; 
	background-color: #31859C; 
	color: #ffffff;
	text-align:right;
}
.validatebox-text{
	text-align: left!important;
}

.order-detail-table-price input:last-child{
	margin-right:0px;
}

select{text-align: left!important;}

.custom-header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #E8E5E5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1f1f1f;
    border-collapse: separate;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    cursor: auto;
    z-index: 9999999;
    border-bottom: 1px solid #eee;
}

.calcType + .textbox{ width: calc(100% - 84px)!important; }
.calcType + .textbox .textbox-text{ width: 100%!important; }


.disNone{
	display: none;
}

/* 
#breadcrumbs-one{
  background: #ffffff;
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #666666;
  position: relative;
  background-color: #E5F3FF;
  width: 230px;
}

#breadcrumbs-one #optionTab{
  width: 380px;
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one .active a{
  background: #0E4F87;
  color: #ffffff;
}

#breadcrumbs-one .active a::after{
  border-left-color: #0E4F87; 
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::before{
  border-left-color: #DADADA;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #E5F3FF;  
}
 */


/* width 속성모음2 */
.col-40{
	width:40%;
	}
.col-26{
	width:26%;
	}
.col-15{
	width:15%;
	}
.col-13{
	width:13%;
	}
.col-9{
	width:9%;
	}

/* 라디오 버튼 속성 */	
.radio{
	display:inline-block;
	width:125px;
	float:left;
	background-color:white;
	position:relative;
	margin:0px!important;
	}
	
.radio label{
	font-weight: 600;
	font-size: 13px;
	color: #333333;
}

/* Tractor 테이블 속성 선없애기 */
.noborder-table tr td,
.noborder-table tr th
{
	padding: 5px;
	border:none!important;
}
.noborder-table tr th{
	font-weight: bold;
	font-size: 15px;
}

/* Display none, block 속성 */
.showBlock{
	display: block;
}
.hideBlock{
	display: none;
}

/* 라디오 버튼 클릭할시 활성화 비활성화 */
.activeRadio{
	color: #333333!important;
}

.passiveRadio{
	color: #888888!important;
}

/* 김원국 */
.cart_title{
	font-size: 18px;
}

.cart_prce{
	font-size: 14px;
	font-weight: 600;
	text-align: right;
}

.cart_btn{
	float: right; 
	background-color:#778888; 
	border-color:#778888;  
	width: 120px;
}

/* 탭에 적용된 컬러 */
.tabColor{
	color: #0E4F87;
}

/* 라디오버튼 체크시 색상변경 */
input[type='radio']:checked {
  background-color: #0093CF;
}

/* 장바구니 totalPrice 라벨 */
.cart_total {display:inline-block; background:#E41C3C; position:relative; text-align: center; padding-top: 6px; margin-right: 20px;}
.cart_total:after {content:''; position:absolute; width:0; height:0; border-style:solid;}

.cart_total.try2 {width:60px; height:24px;}
.cart_total.try2:after {border-width:12px 12px;}
.cart_total.try2:after {border-color:transparent transparent transparent #E41C3C; top:0px; left:60px;}

/* 디테일 화면  Final Price 라벨 */
/* bm */
.cart_total2 {display:inline-block; background:#E41C3C; position:relative; text-align: center; padding-top: 3px; margin-right: 20px;}
.cart_total2:after {content:''; position:absolute; width:0; height:0; border-style:solid;}

.cart_total2.try3 {width:100px; height:24px; color: #ffffff; margin-right: 10px; font-size: 15px;}
.cart_total2.try3:after {border-width:12px 12px;}
.cart_total2.try3:after {border-color:transparent transparent transparent #E41C3C; top:0px; left:100px;}

/* dealer */
.cart_total3 {display:inline-block; background:#E41C3C; position:relative; text-align: center; padding-top: 3px; margin-right: 20px;}
.cart_total3:after {content:''; position:absolute; width:0; height:0; border-style:solid;}

.cart_total3.try3 {width:140px; height:24px; color: #ffffff; margin-right: 10px; font-size: 15px;}
.cart_total3.try3:after {border-width:12px 12px;}
.cart_total3.try3:after {border-color:transparent transparent transparent #E41C3C; top:0px; left:140px;}

/* 보더 속성주는 클래스 */
.borderR{
	border-radius: 5px;
}

/* OrderCreate 오른쪽 보더속성 넣고 빼기 */
.brShow{
	border-right:1px solid #ddd;
}
.brHide{
	border-right: 0px;
}

/* DashBoard 버튼 */
/* index DashBoard 옛날 버튼 */
.dashButton{
	background-color: #BFBFBF; min-width: 120px; max-width: 310px;
	border-radius: 10px; margin-top: 10px; cursor:pointer; height: 98px; display:table;/*border: outset;*/
}

.dashButton span{
	display:table-cell; text-align:center; vertical-align:middle; color:#222222; font-size: 17px; font-weight:800; 
}

@media (max-width: 1024px) {
	#tractor_img { display: none!important; }
}

.txt_post2 {
	width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.2em;
    display: inline-block;
}

#account-layout{min-width:1200px !important;}

/* 메뉴 안떨어지게 조정 */
.navbar-nav { min-width: max-content; }

/* 장바구니 스크롤 */
#basketFix{
	position:absolute; width:100%; top:0px; right:0px;
}

#basketMid{ padding-left: 10px; padding-right: 15px;}

/* 장바구니 하단고정 */
#basketFoot{
	position:fixed; bottom:0px; right:0px; padding-left: 15px; padding-right: 15px; width: 25%; z-index: 999;
}

/* 엑셀 다운로드 버튼 스타일 수정*/
#excel-button, #excel-button .l-btn-text, #excel-button2, #excel-button2 .l-btn-text { width: 130px;}
/* 메인 팝업 사이즈 */
/*.txc-image{ width: 100%; }*/

ul#breadcrumbs-one li.inputC:nth-child(1) a span:before {
    content: "Tractor";
}
ul#breadcrumbs-one li.inputC:nth-child(2) a span:before {
    content: "Attachments / Implements";
}
ul#breadcrumbs-one li.inputC:nth-child(3) a span:before {
    content: "Dealer Installed Option (30 day invoice terms only)";
}
/* 메인화면 상단 미디어 쿼리 */
@media screen and (max-width: 630px) { 
	#topMenuCurrUnit{ margin-right: 5px!important; margin-top: 6px;} 
	#create{ display: none; }
	#Manual{ display: none; }
	#userId{ display: none; }
}
@media (max-width: 955px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a { color:#0404B4;}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover { color: #0080FF; }
}

/* @media screen and (max-width: 760px) { 
	#breadcrumbs-one li { width: 130px; }
	#breadcrumbs-one a { width: 130px; }
	#ResetBtn{width: 90px!important;}
	ul#breadcrumbs-one li.inputC:nth-child(1) a span:before { content: "Tractor"; }
    ul#breadcrumbs-one li.inputC:nth-child(2) a span:before { content: "Att./Impl.";}
    ul#breadcrumbs-one li.inputC:nth-child(3) a span:before { content: "Add."; }
    #totalSum{min-width: 80px; width: 80px; font-size: 12px!important;}
    .cart_total try2{min-width: 80px;}
    #dealerlink_btn3{width: 160px!important; font-size: 16px;}
    #basketFoot{right: 38px; padding: 0px;}
    #left_contents{width: 70%!important;}
    #Ttable3 .radio {width: 75px!important;}
    .table-Search-h {width: 100px!important;}
    .div-line3-new{ min-width: 0px!important; }
} */

.l-btn-text { width: auto;}

/* 파일업로드 에러카운트 css */
.errorCount{
	text-align: left; color: #EB4747; padding-left: 20px;
	font-size: 15px;  font-weight: bold; line-height: 2;
}
/* 파일업로드 토탈카운트 css */
.totalCount{
	text-align: left; color: #0000FF; padding-left: 10px;
	font-size: 15px;  font-weight: bold; line-height: 2;
}

/* 딜러 인포 Tab Css */
/*----- Tabs -----*/
.tab_class {
	width:100%;
	display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.ui_class:after {
display:block;
clear:both;
content:'';
}

.ui_class li {
	margin:0px 2px;
	float:left;
	list-style:none;
}

.ui_class a {
	padding:5px;
	width: 100px;
	margin : 5px;
	margin-left: 0px;
	margin-right: 0px;
	display:inline-block;
	border-radius:3px 12px 3px 3px;
	background-color: #D8D8D8;
	font-size:14px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.ui_class a:hover {
	text-decoration:none;
}

li.active a {
	background:#7FB5DA;
	color:#4c4c4c;
}

li.active a:hover{
	background:#a7cce5;
	color:#4c4c4c;
}

/* production 1 */
.prodDashBoard1{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border: 3px groove #444444;
}
.prodDashBoard1 tr th{
	text-align: center;
	background-color: #9BC2E6;
	font-size: 20px;
	width:10%;
	border-right: 2px groove #444444;
	border-bottom: 2px groove #444444;
}
.prodDashBoard1 tr td{
	text-align: center;
	border-right: 2px groove #444444;
	border-bottom: 2px groove #444444;
}

.prodDashBoard1 tr th:nth-child(5) {
	border-bottom: 2px groove #444444;
}

.prodDashBoard1 tr:nth-child(2) th:nth-child(1){
	width:10%;
}
.prodDashBoard1 tr:nth-child(2) th:nth-child(2){
	width:10%;
}
.prodDashBoard1 tr:nth-child(2) th:nth-child(3){
	width:10%;
}
.prodDashBoard1 tr:nth-child(2) th:nth-child(4){
	width:10%;
}
.prodDashBoard1 tr:nth-child(2) th:nth-child(5){
	width:10%;
}
.prodDashBoard1 tr:nth-child(2) th:nth-child(6){
	width:10%;
}

.title{
	width:10%;
	background-color: #E2EFDA;
	font-size: 20px;
}
.con2{
	width:10%;
}
.con3{
	width:10%;
}
.con4{
	width:10%;
}
.con5{
	width:10%;
}
.con6{
	width:10%;
}
.con7{
	width:10%;
}
.con8{
	width:10%;
	border-right: 0px;
}

.blueContents{
	font-size: 18px;
	color: #08088A;
}
/* .Total .con2{ */
/* 	background-color: #DDEBF7; */
/* } */
/* .CA .con2{ */
/* 	background-color: #DDEBF7; */
/* } */
/* .IL .con2{ */
/* 	background-color: #DDEBF7; */
/* } */
/* .NC .con2{ */
/* 	background-color: #ffffff; */
/* } */
/* .LA .con2{ */
/* 	background-color: #ffffff; */
/* } */
#prodBody tr:nth-child(odd){
	background-color: #DDEBF7;
}
/* .Total{
	background-color: #FFD8BB!important;
}
.Total .title{
	background-color: #FFD8BB!important;
} */
.displayNone{
	display: none!important;
}

/* 툴팁 */
#detailBox_outer,#detailBox_inner {
 border: 1px solid;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}

#detailBox_outer {
 background: #666;
 border-color: #666;
 font-size: 13px;
 font-weight: bold;
 padding: 1px;
 top: 50%;
 position: fixed;
 display:none;
 right: 12px;
 z-index: 9999;
}

#toolTipCon {
 text-align: center;
 background: #f9f9f9;
 border-color: #ccc;
 margin: 10px;
 padding: 10px;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}

/* 메인화면 연도별 금액 css */
.YearlyCoOpTable tr th{
	text-align: center; 
	font-size: 18px; 
	font-weight: 600;
}
.YearlyCoOpTable tr td{
	width: 90px;
	text-align: left; 
	font-size: 11px; 
	font-weight: 600;
}
.YearlyCoOpTable tr td:nth-child(3){
	width: 110px;
	text-align: right; 
	font-size: 11px; 
	font-weight: 600;
}
.nbspTd{ width: calc(50% - 90px) }
.nbspTdLast{ width: calc(50% - 110px) }

.table-Search-hRe {
    width: 75px;
    text-align: left;
    padding-left: 10px;
}

/* pdi 기본 조회 조건 박스 */
.Remake-div-line-new{
	/* border:1px solid #D6DFE8; */
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	border-left: 0;
	border-right: 0;
	/* background-color:#E6EBF1; */
	background-color:#F5F5F5;
	color:#30456e;
	height:auto;
	/* border-radius: 5px; */
	border-radius: 0;
	overflow: hidden;
}

/* 글씨를 화면 가운데에 위치 */
.blueDiaDeal {
  
}

/* background-image blur */
.blueDiaDeal::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 153%;
  z-index: -1;
  background-image: url("../images/award_bg.jpg");
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.4;
  /* 배경 블러 */
  filter: blur(1px);
  transform: scale(1.1);
}