@charset "utf-8";

/* Contents Import */


/* Main Window CSS - Extend common.css */
.main_big_box{width:385px; text-align: center;  height: 160px;  padding-top:66px}
.main_small_box{width:180px; text-align: center; display: inline-block; height: 160px;  padding-top:66px}
.main_big_title{font-size: 4em; color:#ffffff}
.main_small_title{font-size: 1.9em; color:#ffffff}

.first-row{
	padding-top:20px;
	padding-bottom: 40px;
	background-image: url('../images/main_01.png');
}
.bord-top-left{
	/* padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:10px; */
	padding: 8px;
}
.bord-bottom-left{
	/* padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:10px; */
	padding: 8px;
}
.bord-top-right{
	/* padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:10px; */
	padding: 8px;
}
.bord-bottom-right{
	/* padding-top:10px;
	padding-right:10px;
	padding-left:10px; */
	padding-top:8px;
	padding-right:8px;
	padding-left:8px;
	padding-bottom:30px;
}

.main-bord ul,
.main-bord ul li{
	list-style:none;
	padding:0;
	margin:0;
}
.main-bord a{
	color:#000;
	text-decoration:none;
}
.main-bord{
	width:100%;
	text-align:left;
	border-radius: 16px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	/*border:1px solid #ccc;*/
}
.easyui-layout.layout.easyui-fluid {
    /* background: #fcfcfc !important; */
    background: #f5f7f8 !important;
}
.main-bord-header{
    height: 60px;
    /* line-height: 60px; */
    line-height: 56px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: left;
    /* background-color: #275bae; */
    background: #ffffff;
    border-radius: 16px 16px 0 0;
    border: 1px solid #eeeff2 !important;
}
.main-bord-header p{
	/*padding-left:25px;
	padding-right:10px;*/
}
.main-bord-header p span{
	float:right;
}
.main-bord-header p span img{
	width:25px;
}

.main-bord-header2{
	width:100%;
	height:60px;
	line-height:60px;
	font-size:18px;
	font-weight:bold;
	color : #000000;
	text-align: center;
	background-color:#275bae;
}
.main-bord-header2 p{
	padding-left:10px;
	padding-right:10px;
	text-align: left;
}
.main-bord-header2 p span{
/* 	float:right; */
}
.main-bord-header2 p span img{
	width:25px;
}

.main-bord-content{
	padding:10px 25px;
}
.main-bord-content .bord-list img{
	width:45px;
	margin-right:5px;
}
.bord-content-top{
	width:100%;
	height:80px;
	border-bottom:2px solid #ddd
}
.bord-content-top a{
	font-weight:bold;
}
.bord-content-top img,
.bord-content-bottom img{
	float:left;
}
.bord-list-read{
	margin-left:50px;
}
.bord-content-bottom{
	padding:10px 5px 0 5px;
}
.bord-content-bottom .bord-list-right{
	float:right;
}


.bord-notice-header{
	background-color:#8eb4e3;
}

.bord-notice_notice-header{
	/*background-color:#8eb4e3;*/
	background-color:#e9ecf0;
}
.bord-notice-content li,
.bord-pds-content li{
	height:23px;
	line-height:23px
}

.bord-notice-content .bord-content-top li,
.bord-pds-content .bord-content-top li{
	margin:2px 0 2px 80px;
}
.bord-notice-content .bord-content-top li a,
.bord-notice-content .bord-content-bottom li a,
.bord-pds-content .bord-content-top li a,
.bord-pds-content .bord-content-bottom li a{
	display:block;
}


.bord-pds-header{
	background-color:#fac090;
}

.bord-dormancy-content .bord-content-bottom{
	padding:0;
	margin-bottom:1px;
}
.bord-dormancy-header{
	background-color:#b3a2c7;
}
.bord-dormancy-content td img{
	float:none;
}
.bord-dormancy-content td,
.bord-dormancy-content th{
	width:25%;
	text-align:center;
}
.bord-dormancy-content th{
	font-weight:bold;
}
.dormancy-circle{
	width:100%;
}
.bord-dormancy-content .bord-content-top{
	padding-top:5px;
}
.dormancy-circle-info{
	width:100%;
}
.dormancy-circle-info tr{
	border-top:2px solid #ddd;
}
.dormancy-circle-info tr.no-border{
	border:none;
}
.dormancy-circle-info td,
.dormancy-circle-info th{
	height:30px;
	line-height:30px;
	font-weight:bold;
}
.dormancy-circle-info .dormancy1{
	/*color:#bfbfbf;*/
	color:#303030;
}
.dormancy-circle-info .dormancy2{
	color:#558ed5;
}
.dormancy-circle-info .dormancy3{
	color:#e46c0a;
}


.bord-account-header{
	background-color:#d7e4bd;
}
.bord-account-content{
	padding:21px 20px 17px 20px
}
.bord-account-content .account-list{
	width:100%;
}
.bord-account-content .account-list th,
.bord-account-content .account-list td{
	width:25%;
	text-align:center;
	padding-top:23px;
	border-bottom:1px solid #ddd;
}
.bord-account-content .account-list tr{
	height:63px;
}
.bord-account-content .account-list th div{
	width:80%;
	height:40px;
	line-height:40px;
	background-color:#d9d9d9;
	border:1px solid #aaa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.bord-account-content .account-list .account-1year .account-cnt{
	width:80%;
	height:20px;
	line-height:20px;
	color:#fff;
	background-color:#558ed5;
	margin:0 auto;
}
.bord-account-content .account-list .account-2year .account-cnt,
.bord-account-content .account-list .account-3year .account-cnt{
	width:80%;
	height:20px;
	line-height:20px;
	color:#fff;
	background-color:#a6a6a6;
	margin:0 auto;
}

div.bord-scroll{
	height:125px;
	overflow: auto;
}
.test-list-index li{padding:3px !important; font-weight:600;}

.dash_footer_border{
	border: 1px solid #e9ecf0;
}
.dash_footer_line{
	border: 1px solid #e9ecf0;
	border-style: dashed;
}
.dt04{
    width: 18%;
    display: inline-block;
    text-align: right;
}
.dt04footer{
	display:inline-block;
	overflow-x: auto; 
	overflow-y: hidden; 
	scrollbar-width:thin;
}
.dt05{
    width: 24.5%;
    display: inline-block;
    text-align: right;
}
.dt05box{
	width: 66%;
}
.dt05footer{
	display: flex; 
	overflow-x: auto; 
	overflow-y: hidden; 
	scrollbar-width:thin;
}
.rts04_1{
	width: 29%;
    display: inline-block;
    text-align: center;
}
.rts04_2{
	width: 27%;
    display: inline-block;
    text-align: center;
}
.rts04_3{
	width: 42%;
    display: inline-block;
    text-align: center;
}
.rts04_4{
	width: 42%;
    display: inline-block;
    text-align: left;
}
.ellipsis{
	white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    word-break: break-all;
}
.rts04_no{
	width: 99%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.rts04footer{
	display:inline-block;
	overflow-x: auto; 
	overflow-y: auto; 
	scrollbar-width:thin;
}

.panel-fit, .panel-fit body{
	/* height: 103% !important; */
	height: 100% !important;
}





@media screen and (max-width:990px) {
	#dash_tractor_img,#dash_parts_img{
			display:inline-block;
		}
	#buttonDashArea, .dashButton{
		max-width: 999px!important;
	}
	.dashButton{
		background-clip: content-box;
		border-radius: 30px;
	}
	.dt05box{
		width: 100%;
	}
}
	
}
@media screen and (min-width:990px) {
	#dash_tractor_img,#dash_parts_img{
		display:none;
	}
	
}
@media screen and (min-width:1310px) {
	#dash_tractor_img,#dash_parts_img{
		display:inline-block;
	}
	#buttonDashArea{
		max-width: 345pximportant;
		
	}
	.dashButton{
		max-width: 310pximportant;
	}
}

input.textbox-text.validatebox-text{
	height: 30px;
	font-size: 17px;
	padding-left: 10px;
}

.DashBoder {
	border: none;
    border-bottom: 1px solid #d9d9d9;
}
.dashButton {
    background-color: #0a1e5a;
}
.dashButton span{
	color: white;	
}

/* 
.col-md-10 {
    width: 82.333333%;
}
 */
.container {
            background: white;
		    /* padding: 20px; */
		    border-radius: 16px;
		    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		    /* margin-left: 27px; */
		    margin-top: 20px;
		    /* width: 97.35%; */
		    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.status {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}
.content {
    background: #eef3ff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}

.content2 {
    /* background: #eef3ff; */
    padding: 17px 0;
    border-radius: 6px;
    /* margin-top: 15px; */
    font-size: 14px;
    text-align: left;
}

.content strong {
    color: #0056b3;
}

.adCard {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 260px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    height: 70px;
    width: 100%;
    padding: 0;
    border-radius: 10px;
}
.adCard img {
}
    