@charset "euc-kr";
form { display: inline; }
.login_main {
	background-image: url(../images/login/loginmain_temp.jpg);
	position:absolute;
	top:0;
	left:0;
	background-repeat: repeat-x;
	}
.input_id {
	position:absolute;
	top:464px;
	left:616px;
	border: #8c9aa7 0px solid;
	width: 200px;
	color: #004f4e;
	font-family: 돋움체;
	font-size:12pt;
	}
.input_pw {
	position:absolute;
	top:498px;
	left:616px;
	border: #8c9aa7 0px solid;
	width: 200px;
	color: #004f4e;
	font-family: 돋움체;
	font-size:12pt;
	}
.save_id {
	position:absolute;
	top:531px;
	left:611px;
	border: #8c9aa7 0px solid;
	color: #004f4e;
	font-family: 돋움체;
	font-size:12pt;
	}
.sel_lang {
	position:absolute;
	top:532px;
	left:701px;
	border: #8c9aa7 0px solid;
	width: 120px;
	color: #004f4e;
	font-family: 돋움체;
	font-size:10pt;
	}
.login_btn {
	position:absolute;
	top:458px;
	left:830px;
	cursor:pointer;
	width:107px;
	height:67px;
	}

.login_btn_new{
	width:100%;
	height:30px;
	color:#fff;
	font-size:15px;
	cursor:pointer;
	border:1px solid #c8c8c8;
	background-color:#002658;
	margin-top:25px;
	margin-bottom:5px;
	
}

.login_btn_new:hover, .login_btn_new:focus{
width:100%;
	height:30px;
	color:#fff;
	font-size:15px;
	cursor:pointer;
	border:1px solid #c8c8c8;
	background-color:#006DBB;
}

.sm-login-pg{
	background:url('../images/login/login_main_sm.png') no-repeat; 
	display:none;
	min-width:419px;
	min-height:594px;
	position:absolute;
	top:20%;
	left:25%;
}

.login-box{
	position:relative;
	top:370px;
	left:90px;
}

.username{
	border:1px solid #cdcdcd; 
	width: 190px;
	padding:4px 0 4px 0;
	border-radius:4px; 
	color: #004f4e; 
	font-size: 10pt; 
	margin-right:10px;
}

.password{
	border:1px solid #cdcdcd; 
	width: 190px;
	 padding:4px 0 4px 0;
	 border-radius:4px; 
	 color: #004f4e; 
	 font-size: 10pt; 
}
	
.lg-login-pg .login-pg-img{
	background:url('../images/login/login_main.png') no-repeat;
}

@media screen and (min-width: 461px) {	
	.lg-login-pg{display:block;}
	/*.sm-login-pg{display:none;}*/

	/* 2016/10/06김영진 */
	.lg-login-pg > table{
		width:100%;
		height:800px;
	}
	
	.lg-login-pg > table tr td > table{
		width:1262px;
		height:800px;
	}
	
	.lg-login-pg .login-pg-img{
		/* background:url('../images/login/login_main.png') no-repeat; */
	}

	.td-w-540{
		width:540px;
	}
	
	.td-h-315{
		height:315px;
	}
	
	.td-h-205{
		height:205px;
	}
	
	.td-h-35{
		height:35px;
	}
	
	.td-h-28{
		height:28px;
	}
	.bodyGra{
/* 		background:#96AEC1 url('../images/login/login_back_gra.png') repeat-x; */
		background:#FFFFFF url('../images/login/login_back_gra.png') repeat-x;
	}
	
	.td-w-530{
		width:530px;
	}
	.td-h-99{
		height:99px;
	}
}


@media screen and (max-width: 460px) {	
	/*.lg-login-pg{display:none;}
	.sm-login-pg{display:block;}*/

	/* 2016/10/06김영진 */
	html,
	body,
	.lg-login-pg,
	.lg-login-pg table,
	.lg-login-pg > table tr td > table{
		height:100%;
	}
	
	.lg-login-pg > table,
	.lg-login-pg > table tr td > table{
		width:100%;
	}
	
	.lg-login-pg .login-pg-img{
		background:url('../images/login/login_main_sbg.png') no-repeat center top;
		width:100%;
		height:100%;
		display:block;
		max-height:100%;
	}
		
	.login-form-table{
		/* background:url('../images/login/login_main_bg_form.png') no-repeat; */
		background-size:100% 100%;
		width:100%;
		/* max-width:360px; */
		height:60px !important;
		position:absolute;
		top:167PX;
		left:85%; 
		transform:translateX(-50%);
	}
	
	html, body{
/* 		background:#96AEC1; */
		background:#f4f5f7;
		overflow-x:hidden;
	}
	
	/* .login_btn_new:hover, .login_btn_new:focus{
		width: 60px;
	    height: 50px;
	    color: #fff;
	    font-size: 15px;
	    cursor: pointer;
	    border: 1px solid #d43f3a;
	    border-radius: 4px;
	    background-color: #c9302c;
	}
	
	.login_btn_new{
		width: 60px;
	    height: 50px;
	    color: #fff;
	    font-size: 15px;
	    cursor: pointer;
	    border: 1px solid #d43f3a;
	    border-radius: 4px;
	    background-color: #d9534f;
	} */
	
	/* 2017-04-17 박상후 login-form-table css 추가 시작 */
	.login-form-table tbody tr td:nth-child(1){
		width:5px;
	}
	.login-form-table tbody tr td:nth-child(2){
		max-width:5px;
	}
	/* 2017-04-17 박상후login-form-table css 끝 */
	.td-w-540{
		width:5px;
	}
	.td-w-620{
		width:65px;
	}
	
	.td-col-2{
		width:140px;
	}
	
	.td-h-315{
		height:52px;
	}
	
	.td-h-107{
		height:5px;
	}
	
	.td-h-28{
		height:27px;
	}
	
	.username,
	.password{
		width:100px;
		height:22px;
	}
	
/* 	.login_btn_new{
		padding-right:30px;
	}
	 */
	

.login-body .login-section{
	
	position:initial !important;
	width:100% !important;
	height:410px;
	background-color:#ffffff;
	box-shadow: 2px 2px 4px #dee1e7;
	padding:0px 30px;
	color:#333333;
	margin-left:0px !important;
	margin-top:0px !important;
}
	
}


.login-body .login-section{
	z-index:99;
	position:absolute;
	width:350px;
	height:410px;
	left:calc(50% - 175px);
	top:calc(50% - 260px);
	background-color:#ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding:0px 30px;
	color:#333333;
	border-radius:10px;
}

.login-section .login-input-wsc{
	border: 1px solid #c8c8c8;
    display: block;
    text-indent: 10px;
    margin-top: 0px;
    background: #fff;
    width: 100%;
    font-size: inherit;
    color: inherit;
    line-height: 56px;
    height: 40px;
    box-sizing: border-box;
	
}

.login-section .login-maing-text1{
	
	text-align:center;
	line-height: 1.1em;
    color: #00000;
    font-size: 25px;
    letter-spacing: -.01em;
    overflow: hidden;
    font-weight:900;
}

.login-section .login-maing-text2{
	
	text-align:left;
	line-height: 1.8em;
    color: #00000;
    font-size: 20px;
    letter-spacing: -.05em;
    overflow: hidden;
    font-weight:bold;
}

.login-section .login-maing-text3{
	
	text-align:center;
	line-height: 1.8em;
    color: #999;
    font-size: 14px;
    letter-spacing: -.05em;
    overflow: hidden;
}

.login-section .login-maing-text4{
	
	text-align:left;
	line-height: 1.8em;
    color: #00000;
    font-size: 16px;
    letter-spacing: -.05em;
    overflow: hidden;
    font-weight:bold;
}

.div-left {
        width: 50%;
        float: left;
        box-sizing: border-box;
        font-size: 15px;
        font-weight:bold;

    }
.div-right {
        width: 50%;
        float: right;
        box-sizing: border-box;
    }

.div-center {
		height: 35px;
        width: 100%;
        box-sizing: border-box;
    }
    
.backg{
	z-index:-999;
	background-color: #ffffff;
	height:50%;
	width:100%;
	display:block;
	position:absolute;
	top:0px;
}

/* 로그인 박스 */
#loginBox{
	width: 100%!important;
	height: 40px;
	margin-top: 10px;
	border: 1px solid #c8c8c8;
}
.vati{
	width: 20px;
    margin-right: 5px;
    margin-left: 5px;
	vertical-align: middle;
	}

.loginInputSelect{
	border: none;
    display: inline-block;
    text-indent: 10px;
    margin-top: 0px;
    background: #fff;
    width: calc(100% - 34px);
    font-size: inherit;
    color: inherit;
    line-height: 56px;
    height: 38px;
    box-sizing: border-box;
}