<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
        <setting name="cacheEnabled"              value="true"/>  
        <setting name="lazyLoadingEnabled"        value="false"/>  
        <setting name="multipleResultSetsEnabled" value="true"/>  
        <setting name="useColumnLabel"            value="true"/>  
        <setting name="useGeneratedKeys"          value="false"/>  
        <setting name="defaultExecutorType"       value="SIMPLE"/>  
        <setting name="defaultStatementTimeout"   value="25000"/>  
        <setting name="logImpl"                   value="LOG4J"/>
        
	</settings>
	
    <typeAliases>
	    <typeAlias alias="params"  type="com.wsc.framework.model.ParamsMap" />
	    <typeAlias alias="record"  type="com.wsc.framework.model.RecordMap" />

	    <typeAlias alias="code"   type="com.wsc.common.model.Code" />
	    <typeAlias alias="user"   type="com.wsc.common.model.User" />
	    <typeAlias alias="menu"   type="com.wsc.common.model.Menu" />
	    <typeAlias alias="group"  type="com.wsc.common.model.Group" />
	    <typeAlias alias="prog"   type="com.wsc.common.model.Program" />
    	<typeAlias alias="file"   type="com.wsc.common.model.FileInfo" />
    	
   		<typeAlias alias="loaderForm" type="com.wsc.common.loader.LoaderForm" />
   		<typeAlias alias="loaderItem" type="com.wsc.common.loader.LoaderItem" />

    </typeAliases>

	<typeHandlers>
        <!--  java.sql.Timestamp 를 java.util.Date 형으로 반환 
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Time"      handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Date"      handler="org.apache.ibatis.type.DateTypeHandler"/>
        -->
	</typeHandlers>
	
</configuration>

